.container {
  transition-duration: 0.25s;
  padding-right: 20px;
  margin-bottom: 5px;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 20px;
  color: var(--admin-text);
  transition-duration: 0.45s;
  transition-property: color;
  height: 46px;
  border-radius: 0px 100px 100px 0px;
}

.link:hover,
.active .link {
  background: #0f1015;
  position: relative;
  color: var(--bg);
}

.active .link:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #0090e7;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.icons {
  margin-right: 10px;
  font-size: 15px;
  line-height: 1;
  background: rgba(108, 114, 147, 0.2);
  width: 31px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg);
}

.container:nth-child(5n + 1) .icons i {
  color: #8f5fe8;
}

.container:nth-child(5n + 2) .icons i {
  color: #ffab00;
}

.container:nth-child(5n + 3) .icons i {
  color: #fc424a;
}

.container:nth-child(5n + 4) .icons i {
  color: #0090e7;
}

.container:nth-child(5n + 5) .icons i {
  color: #00d25b;
}

.title {
  color: inherit;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
  font-weight: 500;
}
