.title h2 {
  color: var(--text);
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(53, 58, 63, 0.55);
}

@media (max-width: 480px) {
  .title h2 {
    font-size: 18px;
  }
}
