.sales {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.salesItem {
  flex: 1;
  padding: 24px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}

.itemHeader {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 32px;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: #ff470d;
}

.link:hover {
  color: #cc5833;
}

.salesItem h4 {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 500;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info span {
  font-size: 30px;
  font-weight: 500;
}

.small {
  display: flex;
  width: 23.7%;
  background-color: var(--bgSoft);
  border-radius: 10px;
}

.left {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.right h4 {
  font-size: 16px;
  font-weight: 500;
}

.right span {
  font-size: 20px;
  font-weight: 500;
}

.small:nth-child(5n + 1) .left {
  background: #25c2e3;
  color: white;
}

.small:nth-child(5n + 2) .left {
  background: #9932e7;
  color: white;
}

.small:nth-child(5n + 3) .left {
  background: #05b171;
  color: white;
}

.small:nth-child(5n + 4) .left {
  background: #ea4444;
  color: white;
}

.small:nth-child(5n + 5) .left {
  background: #faae42;
  color: #000;
}
