.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dde1ef;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
  width: max-content;
  width: 100%;
}
