:root {
  --bg: #f5f4fe;
  --bgSoft: #fff;
  --bgHover: rgba(255, 110, 64, 0.15);
  --text: #000;
  --textSoft: #ff6e40;
  --btnBg: #ff6e40;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.ql-editor {
  min-height: 200px !important;
}

.editor .ql-toolbar,
.editor .ql-container {
  border: 2px solid #ced4da !important;
  border-radius: 5px;
}
.editor .ql-container {
  border-top: 0px !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.recharts-wrapper {
  padding: 15px;
}

.txt-center {
  text-align: center;
}

.txt-end {
  text-align: right;
}

/* form */
.form {
  display: flex;
  margin-top: 20px;
}

.form button {
  width: 200px;
  padding: 15px;
  background-color: var(--btnBg);
  color: var(--bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.inputItem {
  position: relative;
}

.input,
.textarea,
.select,
.inputItem select {
  width: 100%;
  padding: 13px;
  background-color: transparent;
  border: 2px solid #ced4da;
  border-radius: 5px;
  color: var(--text);
}

.select,
.select option {
  cursor: pointer;
}

.input:focus,
.textarea:focus,
.select:focus,
.inputItem select:focus {
  border: 2px solid var(--btnBg);
  outline: none;
}

.label {
  position: absolute;
  top: 14px;
  left: 13px;
  font-size: 14px;
  color: #000;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input:focus ~ .label,
.input:valid ~ .label,
.textarea:focus ~ .label,
.textarea:valid ~ .label,
.select:focus ~ .label,
.select:valid ~ .label {
  top: -10px;
  left: 13px;
  font-size: 14px;
  color: #000;
  background: #fff;
  transition: all 0.3s ease;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 49%;
}

.w30 {
  width: 32%;
}
