.container {
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #ececec;
}

.buttons {
  display: flex;
}

.button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  width: auto;
  text-align: left;
  font-size: 14px;
  transition: 0.4s;
}

.button.active {
  background-color: #ccc;
}

.info {
  border: 1px solid #ddd;
  background-color: var(--bg);
  padding: 30px;
}

.content {
  padding: 0 18px;
  background-color: var(--bg);
  transition: max-height 0.2s ease-out;
}
