.container {
  height: 600px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 90px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 300;
  color: var(--textSoft);
  margin-bottom: 5px;
}
