.select {
  width: 100%;
  padding: 18px;
  background-color: var(--bg);
  border: 1px solid var(--btn-hover);
  color: var(--text);
  border-radius: 5px;
  outline: none;
  resize: none;
}

.item {
  position: relative;
}

@media (max-width: 480px) {
  .select {
    padding: 15px;
  }
}
