.footer {
  background-color: #222222;
  margin-top: 100px;
}

.container {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  color: var(--bg);
  padding: 50px 0px;
}

.left,
.right {
  flex: 1;
}

.title {
  margin-bottom: 20px;
  font-size: 16px;
}

.text {
  font-size: 15px;
}

.ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ul li {
  margin-left: 20px;
  margin-bottom: 10px;
  padding-right: 40px;
}

.ul li:hover {
  color: var(--text-active);
}

.center {
  display: flex;
  flex: 2;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 71%;
}

.item:first-child {
  height: 240px;
  width: 100%;
}

.item:first-child .ul {
  min-height: 180px;
}

/* .social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
} */

/* .social a {
  background: #3a589d;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */

.social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.social a {
  color: #222222;
}

.copyright {
  background-color: #0d2846;
  padding: 10px 0 15px;
  color: var(--bg);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1536px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
  .container {
    gap: 20px;
  }

  .ul li {
    margin-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-flow: row wrap;
    padding-bottom: 0;
  }

  .left,
  .right {
    max-width: 50%;
    flex-basis: 48%;
    order: -1;
  }

  .center {
    max-width: 100%;
    flex-basis: 100%;
  }

  .item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ul li,
  .text {
    font-size: 14px;
  }

  .item:first-child {
    height: 215px;
  }
}

@media (max-width: 640px) {
  .center {
    display: flex;
    flex-direction: column;
  }

  .item:first-child {
    height: 210px;
    width: 100%;
  }

  .item {
    height: fit-content;
  }

  .left,
  .right {
    max-width: 50%;
    flex-basis: 47%;
    order: -1;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 30px 0px;
    gap: 25px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .text,
  .ul li {
    font-size: 13px;
  }

  .left,
  .right {
    max-width: 100%;
    flex-basis: 100%;
  }

  .address {
    width: 70px;
  }

  .item,
  .right {
    font-size: 14px;
  }
}
