.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top {
  height: auto;
  width: 100%;
}

.banner {
  position: relative !important;
}

.bottom {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
}

.active {
  font-weight: bold;
}

.right {
  flex: 4.3;
}

.topProduct {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 20px;
}

.search {
  width: -webkit-fill-available;
  max-width: 400px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort span {
  margin-right: 10px;
  width: max-content;
}

.sort select {
  margin-left: 15px;
  height: 40px;
  line-height: 46px;
  border: 1px solid #dde1ef;
  display: inline-block;
  border-radius: 4px;
  padding: 0 15px;
  outline: none;
}

.sort select option {
  outline: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.noProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
}

@media (max-width: 1536px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
  .right {
    flex: 7;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .topProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 475px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .right {
    flex: 1;
  }

  .topProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .search {
    width: 390px;
  }
}
