.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top {
  height: auto;
  width: 100%;
}

.banner {
  position: relative !important;
}

.bottom {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
}

.active {
  font-weight: bold;
}

.right {
  flex: 4.3;
}

.topProduct {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 20px;
}

.search {
  width: -webkit-fill-available;
  max-width: 400px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.noProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
}

@media (max-width: 1536px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
  .right {
    flex: 7;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .topProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .right {
    flex: 1;
  }

  .topProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .search {
    width: -webkit-fill-available;
  }
}

@media (max-width: 430px) {
  .right {
    width: 100%;
  }

  .list {
    gap: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .list {
    gap: 10px;
  }
}
