.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.imgConatiner {
  display: flex;
  gap: 15px;
}

.img {
  border: 1px solid #e1e1e1;
}

.name {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name h3 {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name p {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fb4646;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantity {
  display: flex;
}

.decrement {
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #eaeaea;
  height: 30px;
  width: 30px;
  background: none;
}

.increment {
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #eaeaea;
  height: 30px;
  width: 30px;
  background: none;
}

.quantity input {
  border: 1px solid #eaeaea;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  outline: none;
}

.delete {
  display: flex;
  justify-content: flex-end;
}

.delete button {
  display: flex;
  background: none;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  color: #fb4646;
}

.delete button:hover {
  color: var(--bg);
  background-color: #fb4646;
}

.increment:disabled,
.decrement:disabled {
  cursor: not-allowed;
  color: #cc5833;
  background-color: #e9ecef;
}
