.container {
  display: flex;
  gap: 20px;
}

.left {
  flex: 7;
}

.title {
  display: flex;
  align-items: center;
}

.title h3 {
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 0;
  max-width: calc(100% - 60px);
}

.center {
  display: flex;
  gap: 25px;
  margin: 25px 0;
}

.itemContainer {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item {
  position: relative;
}
.input,
.textarea {
  width: 100%;
  padding: 18px;
  background-color: var(--bg);
  border: 1px solid var(--btn-hover);
  color: var(--text);
  border-radius: 5px;
  outline: none;
  resize: none;
}

.right {
  flex: 5;
}

.price {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px 10px;
  background-color: #f5f5f5;
}

.priceItem {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dedddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.priceItem:last-child {
  border-bottom: none;
  font-weight: 600;
}

.priceItem span:last-child {
  color: #c21334;
}

.payment {
  display: flex;
  gap: 20px;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  color: var(--bg);
  background-color: var(--btn);
}

.button:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .title h3 {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 0;
  }

  .center {
    gap: 10px;
  }

  .input,
  .textarea {
    padding: 15px;
  }

  .textarea {
    height: 100px;
  }

  .payment {
    gap: 10px;
  }

  .button {
    font-size: 14px;
  }
}
