.buttonAdd {
  position: relative;
  background-color: rgb(255, 110, 66);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 13.3px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.buttonAdd::before {
  content: "";
  background-color: rgb(273, 126, 82);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.buttonAdd:hover::before {
  width: 100%;
}

.buttonUpdate {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  color: var(--bg);
  border: none;
  cursor: pointer;
  background-color: teal;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: default;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 50px;
  background-color: #ededed;
  display: flex;
  color: #000;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.title span {
  padding-left: 30px;
}

.close {
  position: fixed;
  top: 21px;
  right: 17px;
  cursor: pointer;
  color: #000;
}

.close:hover {
  color: #2e2e2e;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 30px;
  color: #000;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imgContainer label {
  width: 205px;
  height: 205px;
  display: flex;
  cursor: pointer;
  border: 1px dotted #ced4da;
}

.img {
  object-fit: contain;
  width: 200px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.buttonForm {
  width: 100%;
  padding: 15px;
  background-color: var(--btnBg);
  color: var(--bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
