.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort span {
  margin-right: 10px;
  width: max-content;
}

.sort select {
  margin-left: 15px;
  height: 40px;
  line-height: 46px;
  border: 1px solid #dde1ef;
  display: inline-block;
  border-radius: 4px;
  padding: 0 15px;
  outline: none;
  cursor: pointer;
}

.sort select option {
  outline: none;
}

@media (max-width: 430px) {
  .sort {
    width: 100%;
    font-size: 13px;
    justify-content: space-between;
  }

  .sort select {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .sort {
    font-size: 12px;
  }

  .sort select {
    font-size: 12px;
  }
}
