.container {
  margin-bottom: 20px;
  width: min-content;
  background: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.container:hover .widget {
  transition: all 300ms ease;
  opacity: 1;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
}

.imgContainer {
  width: 197px;
  height: 197px;
  position: relative;
}

.outStock {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  opacity: 0.9;
}

.img {
  object-fit: cover;
}

.bottom {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.category {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.7;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: var(--text);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

.sold {
  margin: 0;
}

.price {
  font-size: 15px;
  font-weight: 500;
  color: var(--red);
  margin: 0;
}

.widget {
  top: 56%;
  right: 20px;
  transition: all 300ms ease;
  opacity: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  gap: 10px;
}

.button {
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 12px;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #9acf78;
  transition: all 300ms ease;
}

.button:disabled {
  cursor: not-allowed;
  color: #cc5833;
  background-color: #e9ecef;
}

@media (max-width: 1536px) {
}

@media (max-width: 1366px) {
  .imgContainer {
    width: 180px;
    height: 180px;
  }

  .img {
    width: 180px;
    height: 180px;
  }

  .title {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .imgContainer {
    width: 190px;
    height: 190px;
  }

  .img {
    width: 190px;
    height: 190px;
  }
}

@media (max-width: 1024px) {
  .imgContainer {
    width: 189px;
    height: 189px;
  }

  .img {
    width: 189px;
    height: 189px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 0px;
    padding: 15px;
  }

  .imgContainer {
    width: 155px;
    height: 155px;
  }

  .img {
    width: 155px;
    height: 155px;
  }

  .title {
    font-size: 14px;
  }

  .category {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .imgContainer {
    width: 177px;
    height: 177px;
  }

  .img {
    width: 177px;
    height: 177px;
  }
}

@media (max-width: 480px) {
  .imgContainer {
    width: 155px;
    height: 155px;
  }

  .img {
    width: 155px;
    height: 155px;
  }
}

@media (max-width: 430px) {
  .imgContainer {
    width: 142px;
    height: 142px;
  }

  .img {
    width: 142px;
    height: 142px;
  }
}

@media (max-width: 380px) {
  .imgContainer {
    width: 140px;
    height: 140px;
  }

  .img {
    width: 140px;
    height: 140px;
  }
}
