.container {
  position: relative;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart {
  font-size: 20px;
  cursor: pointer;
  color: var(--text);
}

.cart a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart p {
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
}

.navHome {
  color: var(--bg);
}

.small {
  color: var(--text);
}

.cartIcon {
  position: relative;
  width: 25px;
}

.cartLength {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  border-radius: 50%;
  font-size: 13px;
  font-weight: 400;
  top: -10px;
  right: -15px;
}

.logout {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  min-width: 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
}

.logoutHome {
  color: var(--bg);
}

.logoutSmall {
  color: var(--text);
}

.logout:hover {
  color: var(--text-active);
}

.menu.active:before {
  transform: rotate(-45deg) translate3d(0, -50%, 0);
  top: 50%;
}

.menu.active:after {
  transform: rotate(45deg) translate3d(0, 50%, 0);
  bottom: 50%;
}

.menu.active div {
  opacity: 0;
}

.menuButton,
.mobileLinks,
.mobileContainer {
  display: none;
}

.menu {
  height: 28px;
  width: 60px;
  position: relative;
  display: none;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
  text-align: center;
  outline: none;
  color: transparent;
}

.menu:before,
.menu:after,
.menu div {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #172b4d;
  transition: all ease 0.3s;
  border-radius: 4px;
}

.menu:before {
  top: 0;
}

.menu:after {
  bottom: 0;
}

@media (max-width: 1536px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .links {
    display: none;
  }

  .cart {
    padding-left: 10px;
    color: var(--text);
  }

  .cart p {
    display: flex;
  }

  .logout {
    color: var(--text);
  }

  .menu {
    display: flex;
    z-index: 99;
    height: 15px;
    width: 25px;
  }

  .menu:before,
  .menu:after,
  .menu div {
    width: 25px;
    height: 2px;
    z-index: 99;
  }

  .menu.active:before {
    background-color: #fff;
  }

  .menu.active:after {
    background-color: #fff;
  }

  .mobileLinks {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: default;
    display: flex;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg);
    width: 60%;
    padding: 60px 40px;
    z-index: 99;
    height: 100%;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
  }

  .mobileLinks {
    width: 50%;
    background-color: var(--bg);
    display: flex;
    color: var(--text);
    flex-direction: column;
    gap: 10px;
  }

  .small {
    color: var(--text);
  }

  .navHome {
    color: var(--text);
  }

  .logoutHome {
    color: var(--text);
  }
}

@media (max-width: 640px) {
  .links {
    display: none;
  }

  .cart {
    padding-left: 10px;
  }

  .cart p {
    display: flex;
  }

  .menu {
    display: flex;
    z-index: 99;
    height: 15px;
    width: 25px;
  }

  .menu:before,
  .menu:after,
  .menu div {
    width: 25px;
    height: 2px;
    z-index: 99;
  }

  .menu.active:before {
    background-color: #fff;
  }

  .menu.active:after {
    background-color: #fff;
  }

  .mobileLinks {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: default;
    display: flex;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg);
    width: 60%;
    padding: 60px 40px;
    z-index: 99;
    height: 100%;
    gap: 10px;
  }
}

@media (max-width: 475px) {
  .links {
    display: none;
  }

  .cart {
    padding-left: 10px;
  }

  .cart p {
    display: flex;
  }

  .menu {
    display: flex;
    z-index: 99;
    height: 15px;
    width: 25px;
  }

  .menu:before,
  .menu:after,
  .menu div {
    width: 25px;
    height: 2px;
    z-index: 99;
  }

  .menu.active:before {
    background-color: #fff;
  }

  .menu.active:after {
    background-color: #fff;
  }

  .mobileLinks {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: default;
    display: flex;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg);
    width: 60%;
    padding: 60px 40px;
    z-index: 99;
    height: 100%;
    gap: 10px;
  }
}
